<div class="left-side-bar">
    <div class="brand-logo">
        <a routerLink="/home">
            <img src="assets/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
            <img src="assets/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">

                <li class="dropdown" *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleFormateur()">
                        <span class="micon dw dw-edit2"></span><span class="mtext">Formateurs</span>
                    </a>
                    <ul id="Formateur" class="submenu">
                        <li><a routerLink="/list-Formateur" routerLinkActive="active">List Formateur</a></li>
                        <li><a routerLink="/add-Formateur" routerLinkActive="active">Add Formateur</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleFormations()">
                        <span class="micon dw dw-library"></span><span class="mtext">Formations</span>
                    </a>
                    <ul id="Formation" class="submenu">
                        <li><a routerLink="/list-Formation">List Formation</a></li>
                        <li><a routerLink="/add-Formation">Add Formation</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleTheme()">
                        <span class="micon dw dw-paint-brush"></span><span class="mtext">Themes</span>
                    </a>
                    <ul class="submenu" id="Theme">
                        <li><a routerLink="/list-theme" routerLinkActive="active">List Theme</a></li>
                        <li><a routerLink="/add-theme" routerLinkActive="active">Add Theme</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleCabinet()">
                        <span class="micon dw dw-apartment"></span><span class="mtext">Cabinet</span>
                    </a>
                    <ul class="submenu" id="Cabinet">
                        <li><a routerLink="/list-cabinet" routerLinkActive="active">List Cabinet</a></li>
                        <li><a routerLink="/add-cabinet" routerLinkActive="active">Add Cabinet</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/calendar" class="dropdown-toggle no-arrow">
                        <span class="micon dw dw-calendar1"></span><span class="mtext">Calendar</span>
                    </a>
                </li>
                <li class="dropdown" *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleParticipant()">
                        <span class="micon dw dw-apartment"></span><span class="mtext">Participant</span>
                    </a>
                    <ul class="submenu" id="Participant">
                        <li  ><a routerLink="/list-participant">List participant</a></li>
                        <li><a routerLink="/add-participant">Add participant</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleLieu()">
                        <span class="micon dw dw-apartment"></span><span class="mtext">Lieu</span>
                    </a>
                    <ul class="submenu" id="Lieu">
                        <li><a routerLink="/lieu">Lieu</a></li>
                        <li><a routerLink="/add-lieu">Add Lieu</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="role=='Admin'|| 'User'">
                    <a class="dropdown-toggle" (click)="togglePlanFormation()">
                        <span class="micon dw dw-library"></span><span class="mtext">Plan Formation</span>
                    </a>
                    <ul id="planFormation" class="submenu" id="Plan formation">
                        <li><a routerLink="/list-actionformation">List Action Formation</a></li>
                        <li><a routerLink="/add-actionformation">Add Action Formation</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleEval()">
                        <span class="micon dw dw-library"></span><span class="mtext">Eval</span>
                    </a>
                    <ul id="planFormation" class="submenu" id="Eval">
                        <li><a routerLink="/eval">Evaluation</a></li>

                    </ul>
                </li>
                <li class="dropdown" *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleLieuHebergement()">
                        <span class="micon dw dw-apartment"></span><span class="mtext">Lieu Hebergement</span>
                    </a>
                    <ul class="submenu" id="LieuHebergement">
                        <li><a routerLink="/lieuHebergement">Lieu</a></li>
                        <li><a routerLink="/add-lieu-hebergement">Add Lieu</a></li>
                    </ul>
                </li>
                <li class="dropdown"  *ngIf="role=='Admin'">
                    <a class="dropdown-toggle" (click)="toggleDemande()">
                        <span class="micon dw dw-apartment"></span><span class="mtext"> Demande</span>
                    </a>
                    <ul class="submenu" id="Demande">
                        <li ><a routerLink="/list-demande"> List-Demande</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="role=='User'">
                    <a class="dropdown-toggle" routerLink="/enrolled-formations">
                        <span class="micon dw dw-apartment"></span><span class="mtext"> Formations Enrôlées</span>
                    </a>
                   
                </li>
                <!-- Other menu items -->
            </ul>
        </div>
    </div>
</div>