<main>
    <div class="agency-container">
        <div class="agency-header">
            <img src="assets/images/téléchargement.jpg" alt="ATTT Logo" class="agency-logo">
            <h1>Agence Technique des Transports Terrestres</h1>
        </div>
        <div class="agency-content">
            <p>Bienvenue sur la page dédiée à l'Agence Technique des Transports Terrestres (ATTT) de Tunisie.</p>
            <p>Nous sommes chargés de la gestion de formation ET développement de compétence.</p>
        </div>
    </div>
</main>