<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Formations Enregistrées</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Liste des Formations Enregistrées</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom Formation</th>
                                <th>Thème</th>
                                <th>Numéro Groupe</th>
                                <th>Date Début</th>
                                <th>Date Fin</th>
                                <th>Durée</th>
                                <th>Type Formation</th>
                                <th>Frais Total Formateur</th>
                                <th>Nom Formateur</th>
                                <th>Evaluation</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let enrolledFormation of enrolledFormations">
                                <td>{{ enrolledFormation.id }}</td>
                                <td>{{ enrolledFormation.nomFormation }}</td>
                                <td>{{ enrolledFormation.theme.theme }}</td>
                                <td>{{ enrolledFormation.numGroupe }}</td>
                                <td>{{ enrolledFormation.dateDebut }}</td>
                                <td>{{ enrolledFormation.dateFin }}</td>
                                <td>{{ enrolledFormation.duree }}</td>
                                <td>{{ enrolledFormation.typeformation }}</td>
                                <td>{{ enrolledFormation.fraisTotalFormateur }}</td>
                                <td>{{ enrolledFormation.formateur.nom }}</td>
                               
                                    <button (click)="openEvaluationForm(formation?.id)">Evaluer</button>
                                  
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
