<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Form</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Basic</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                January 2024
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Ajouter un Thème</h4>
                    </div>
                </div>
                <form [formGroup]="themeForm" (ngSubmit)="ajouterTheme()">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="input-code">codeTheme</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codeTheme.errors }" id="input-code" placeholder="code" formControlName="codeTheme" />
                            <div *ngIf="submitted && f.codeTheme.errors" class="invalid-feedback">
                                <div>Le code est obligatoire</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="input-theme">Thème</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.theme.errors }" id="input-theme" placeholder="Thème" formControlName="theme" />
                            <div *ngIf="submitted && f.theme.errors" class="invalid-feedback">
                                <div>Le thème est obligatoire</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="select-typeThemeIntraInter">Type Thème Intra/Inter</label>
                        <div class="col-sm-12 col-md-10">
                            <select class="form-control" [ngClass]="{ 'is-invalid': submitted && f.typeThemeIntraInter.errors }" id="select-typeThemeIntraInter" formControlName="typeThemeIntraInter">
                                <option value="">Select Type</option>
                                <option value="Inter">Inter</option>
                                <option value="Intra">Intra</option>
                            </select>
                            <div *ngIf="submitted && f.typeThemeIntraInter.errors" class="invalid-feedback">
                                <div>Le type thème Intra/Inter est obligatoire</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="input-accord">Accord</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.accord.errors }" id="input-accord" placeholder="Accord" formControlName="accord" />
                            <div *ngIf="submitted && f.accord.errors" class="invalid-feedback">
                                <div>L'accord est obligatoire</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="input-documents">Documents</label>
                        <div class="col-sm-12 col-md-10">
                          <input type="file" class="form-control" id="input-documents" (change)="onFileChange($event)" />
                        </div>
                      </div>

                    <div class="form-group row justify-content-end">
                        <div class="col-sm-12 col-md-10">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
