<app-header></app-header>
<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Liste des Formations</h4>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Numéro Groupe</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Durée</th>
                <th>Type Formation</th>
                <th>Coût</th>
                <th>TVA</th>
                <th>Montant TVA</th>
                <th>Frais Total Formateur</th>
                <th>Nom Personne</th>
                <th>Matricule Personne</th>
                <th>Libellé Fonction</th>
                <th>Libellé Service</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let formation of formations">
                <td>{{ formation.id }}</td>
                <td>{{ formation.numGroupe }}</td>
                <td>{{ formation.dateDebutGroupe | date }}</td>
                <td>{{ formation.dateFinGroupe | date }}</td>
                <td>{{ formation.dureGroupe }}</td>
                <td>{{ formation.typeFormation }}</td>
                <td>{{ formation.cout }}</td>
                <td>{{ formation.tva }}</td>
                <td>{{ formation.mtTva }}</td>
                <td>{{ formation.fraisTotalFormateur }}</td>
                <td>{{ formation.nomPers }}</td>
                <td>{{ formation.matPers }}</td>
                <td>{{ formation.libFonct }}</td>
                <td>{{ formation.libServ }}</td>
                <td>
                    <!-- Ajouter des boutons d'action ici -->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="collapse collapse-box" id="basic-table">
        <div class="code-box">
            <div class="clearfix">
                <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"
                    data-clipboard-target="#basic-table-code">
                    <i class="fa fa-clipboard"></i> Copy Code
                </a>
                <a href="#basic-table" class="btn btn-primary btn-sm pull-right" rel="content-y" data-toggle="collapse"
                    role="button">
                    <i class="fa fa-eye-slash"></i> Hide Code
                </a>
            </div>
            <pre><code class="xml copy-pre" id="basic-table-code">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
      </tr>
    </tbody>
  </table>
        </code></pre>
        </div>
    </div>
</div>