<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Form</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="./home.html">Formation</a></li>
                                <li class="breadcrumb-item active" aria-current="page">list-Formation</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                January 2024
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Liste des Formations</h4>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NomFormation</th>
                                <th>theme</th>
                                <th>Numéro Groupe</th>
                                <th>Date Début</th>
                                <th>Date Fin</th>
                                <th>Durée</th>
                                <th>Type Formation</th>

                                <th>Frais Total Formateur</th>
                                <th>Nom Formateur</th>

                                <th>Actions</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let formation of formations">
                                <td>{{ formation.id }}</td>
                                <td>{{ formation.nomFormation }}</td>
                                <td>{{ formation.theme.theme}}</td>

                                <td>{{ formation.numGroupe }}</td>
                                <td>{{ formation.dateDebut }}</td>
                                <td>{{ formation.dateFin }}</td>
                                <td>{{ formation.duree }}</td>
                                <td>{{ formation.typeformation }}</td>
                                <td>{{ formation.fraisTotalFormateur }}</td>
                                <td>{{ formation.formateur.nom }}</td>


                                <td>
                                    <button class="btn-custom btn-custom-modifier"
                                        routerLink="/edit-formation/{{formation.id}}">Modifier</button>
                                    <button class="btn-custom btn-custom-modifier"
                                        (click)="deleteFormation(formation.id)">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="collapse collapse-box" id="basic-table">
                        <div class="code-box">
                            <div class="clearfix">
                                <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"
                                    data-clipboard-target="#basic-table-code">
                                    <i class="fa fa-clipboard"></i> Copy Code
                                </a>
                                <a href="#basic-table" class="btn btn-primary btn-sm pull-right" rel="content-y"
                                    data-toggle="collapse" role="button">
                                    <i class="fa fa-eye-slash"></i> Hide Code
                                </a>
                            </div>
                            <pre><code class="xml copy-pre" id="basic-table-code">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
      </tr>
    </tbody>
  </table>
        </code></pre>
                        </div>
                    </div>
                </div>
            </div>