<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Liste des Formations</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="./home.html">Formation</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des Formations</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                January 2024
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Liste des Formations</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom Formation</th>
                                <th>Thème</th>
                                <th>Numéro Groupe</th>
                                <th>Date Début</th>
                                <th>Date Fin</th>
                                <th>Durée</th>
                                <th>Type Formation</th>
                                <th>Frais Total Formateur</th>
                                <th>Nom Formateur</th>
                                <th>Date de Modification</th>
                                <th>Modifié par</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let formation of formations">
                                <td>{{ formation.id }}</td>
                                <td>{{ formation.nomFormation }}</td>
                                <td>{{ formation.theme.theme }}</td>
                                <td>{{ formation.numGroupe }}</td>
                                <td>{{ formation.dateDebut }}</td>
                                <td>{{ formation.dateFin }}</td>
                                <td>{{ formation.duree }}</td>
                                <td>{{ formation.typeformation }}</td>
                                <td>{{ formation.fraisTotalFormateur }}</td>
                                <td>{{ formation.formateur.nom }}</td>
                                <td>{{ formation.lastModifiedDate | date: 'short' }}</td>
                                <td>{{ formation.lastModifiedBy }}</td>
                                <td>

                                    <button class="btn-custom btn-custom-modifier"
                                        routerLink="/edit-formation/{{formation.id}}">Modifier</button>
                                    <button class="btn-custom btn-custom-supprimer"
                                        (click)="deleteFormation(formation.id)">Supprimer</button>
                                        <button  class="btn-custom btn-custom-participer" (click)="participer(formation.id)">Participer</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>