<!-- <app-header></app-header> -->
<!-- <app-side-bar></app-side-bar> -->
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Register</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Register</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <!-- Ajout de *ngIf sur le formulaire -->
                <form [formGroup]="formModel" (ngSubmit)="ajouterParticipant()">
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="code">Code</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="code" formControlName="code" />
                        </div>
                    </div>
                  
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="nom">Nom</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="nom" formControlName="nom" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="prenom">Prénom</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="prenom" formControlName="prenom" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="cin">Cin</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="cin" formControlName="cin" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="tel">Tel</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="tel" formControlName="tel" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="password">Password</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="password" class="form-control" id="password" formControlName="password" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="lieutravail">Lieu de Travail</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="lieutravail" formControlName="lieutravail" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="email">Email</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="email" class="form-control" id="email" formControlName="email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="datNais">Date de Naissance</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="date" class="form-control" id="datNais" formControlName="datNais" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="Affectation">Affectation</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="Affectation" formControlName="Affectation" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="codGrad">Grade</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="codGrad" formControlName="codGrad" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="datEmb">Date Embauche</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="date" class="form-control" id="datEmb" formControlName="datEmb" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="fonction">Fonction</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="fonction" formControlName="fonction" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="sexe">Sexe</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="sexe" formControlName="sexe" />
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="hebergementNuite">Hébergement
                            Nuité</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="hebergementNuite"
                                formControlName="hebergementNuite" />
                        </div>
                    </div> -->
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="lieuHebergementId">Lieu
                            d'Hébergement</label>
                        <div class="col-sm-12 col-md-10">
                            <select formControlName="lieuHebergementId" class="form-control" id="lieuHebergementId">
                                <option *ngFor="let lieu of lieuheb" [value]="lieu.id">{{ lieu.lieuheb }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="confirmation">Confirmation</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="confirmation" formControlName="confirmation" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="agePers">Age</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="agePers" formControlName="agePers" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 col-md-2 col-form-label" for="matricule">Matricule</label>
                        <div class="col-sm-12 col-md-10">
                            <input type="text" class="form-control" id="matricule" formControlName="matricule" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>