<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Plan des Formations</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="./home.html">Formation</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des  Actions Formations</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                January 2024
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Liste des Formations</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Code Action</th>
                                <th>Theme</th>
                                <th>Groupe N</th>
                                <th>Date Début</th>
                                <th>Date Fin</th>
                                <th>Durée</th>
                                <th>Nombre de Candidats</th>
                                <th>Lieu</th>
                                <th>Date de Modification</th>
                                <th>Modifié par</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let planFormation of planFormations">
                                <td>{{ planFormation.code_action }}</td>
                                <td>{{ planFormation.theme?.theme || 'N/A' }}</td>
                                <td>{{ planFormation.groupe_N }}</td>
                                <td>{{ planFormation.dateDebut }}</td>
                                <td>{{ planFormation.datefin }}</td>
                                <td>{{ planFormation.duree }}</td>
                                <td>{{ planFormation.nbreCandidat  }}</td>
                                <td>{{ planFormation.lieu ? planFormation.lieu.lieux : 'Non défini' }}</td>
                                <td>{{ planFormation.lastModifiedDate | date: 'short' }}</td>
                                <td>{{ planFormation.lastModifiedBy }}</td>
                                <td>
                                    <button (click)="deleteActionFormation(planFormation.id)">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
