<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Liste des Thèmes</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des Thèmes</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Thème</th>

                                <th>Type Thème</th>
                                <th>Accord</th>
                                <th>Documents</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let theme of themes">
                                <td>{{ theme.codeTheme }}</td>
                                <td>{{ theme.theme }}</td>

                                <td>{{ theme.typeThemeIntraInter }}</td>
                                <td>{{ theme.accord }}</td>


                                <td>{{ theme.documents }}</td>
                                <td>
                                    <button class="btn-custom btn-custom-modifier"
                                        (click)="editTheme(theme.id)">Modifier</button>
                                    <button class="btn-custom btn-custom-modifier"
                                        (click)="deleteTheme(theme.id)">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>