<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Form</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">List Formateurs</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                January 2024
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">Liste des Formateurs</h4>
                    </div>
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <div class="input-group">
                        <input [(ngModel)]="inputSearch" (ngModelChange)="searchFormateur()" placeholder="Rechercher un formateur..." class="form-control">
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="themeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sélectionner un thème
                        </button>
                        <div class="dropdown-menu" aria-labelledby="themeDropdown">
                          <a class="dropdown-item" *ngFor="let theme of themes" (click)="onThemeSelect(theme)">
                            {{ theme.theme }}
                          </a>
                        </div>
                      </div>
                    </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Thème</th>
                                <th>CIN</th>
                                <th>Matricule</th>
                                <th>Téléphone</th>
                             
                                <th>Autorisation</th>
                                <th>Type Formateur</th>
                                <th>Email</th>
                                <th>Date de Modification</th>
                                <th>Modifié par</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let formateur of formateurs">
                                <td>{{ formateur.code }}</td>
                                <td>{{ formateur.nom }}</td>
                                <td>{{ formateur.prenom }}</td>
                                <td>{{ formateur.themes[0]?.theme }}</td>
                                <td>{{ formateur.cin }}</td>
                                <td>{{ formateur.matricule }}</td>
                                <td>{{ formateur.tel }}</td>
                                
                                <td>{{ formateur.autorisation }}</td>
                                <td>{{ formateur.typeFormateur }}</td>
                                <td>{{ formateur.mail }}</td>
                                <td>{{ formateur.lastModifiedDate | date: 'short' }}</td>
                                <td>{{ formateur.lastModifiedBy }}</td>
                                <td>
                                    <button class="btn-custom btn-custom-modifier" routerLink="/edit-formateur/{{formateur.id}}">Modifier</button>
                                    <button class="btn-custom btn-custom-supprimer" (click)="deleteFormateur(formateur.id)">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
